- name: Install Git, Python, Nginx, Apache and Tomcat
  hosts: managed_nodes,managed_nodes_password
  become: yes
  tasks:
    - name: Install git
      yum:
        name: git
        state: present

    - name: Install python3
      yum:
        name: python3
        state: present

    - name: Install nginx
      yum:
        name: nginx
        state: present

    - name: Install Apache HTTPD
      yum:
        name: httpd
        state: present

    - name: Install Tomcat
      yum:
        name: tomcat
        state: present

